{{!< login}}
{{#contentFor "body"}}
    <form action="/login" method="POST">
        <label>Name:</label>
        <input name="name" type="text" />
        <p>{{ errorMessage.name }}</p>
        <label>Password:</label>
        <input name="password" type="password" />
        <p>{{ errorMessage.password }}</p>
        <Button type="submit">Login</Button>
    </form>
{{/contentFor}}